<!doctype html>
<html>
  <head>
    <title>
      ASCIInator - Feed me pixels.
    </title>
  </head>
  <body>
    <h1>ASCIInator</h1>
    <div>
      <form method=post enctype=multipart/form-data>
        <p>
        <label for=file>Image file</label>
        <input type=file name=file />
        </p>
        <p>
        <label for=mapper>Style</label>
        <select name=style>
          {% for s in styles %}
          <option value={{s}}>{{s}}</option>
          {% endfor %}
        </select>
        </p>
        <p>
        <input type=submit value="Feed me pixels. Get ASCII.">
        </p>
      </form>
      {% if uploaded_filename %}
      {{ uploaded_filename}} was uploaded.
      {% endif %}

      {% if error %}
      {{ error }}
      {% endif %}
    </div>
  </body>
</html>
